body {
    padding: 0px;
    margin: 0px;
}

html {
    padding: 0px !important;
}
@font-face {
    font-family: 'kadick';
    src: url('./ExanRegular.ttf') format('truetype');
}

.fuentes {
    font-family: 'kadick';
    position: absolute;
    top: -3000px;
}